:root {
  /* Brand Colors */
  --blue: #0056d6;
  --red: #d90000;
  --light-red: #ffebeb;

  /* Font */
  --font-family: Arial, sans-serif;
}

/* ===========================
   GLOBAL RESET + BASE
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: var(--text-dark);
  line-height: 1.6;
}





.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0 !important;
}
