:root {
  /* Brand Colors */
  --blue: #0a1754;
  --red: #d90000;
  --light-red: #ffebeb;
  /* Font */
  --font-family: Arial, sans-serif;

  /* Background / text defaults */
  --page-bg: #ffffff;
  --page-text: #222222;
}

/* ===========================
   GLOBAL RESET + BASE
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--page-bg);
  color: var(--page-text);
  line-height: 1.6;
}



/* Remove Google top bar completely */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0 !important;
}

/* Remove black overlay box */
.goog-te-spinner-pos,
.goog-te-spinner-animation,
.goog-te-spinner {
  display: none !important;
}

/* Remove "Show Original" Dropdown */
.goog-te-balloon-frame {
  display: none !important;
  visibility: hidden !important;
}
